.card__state {
	border: 1px solid white;
	background-color: var(--color-dark-blue);
	color: white;
	border-radius: 10px;
	/* width: 300px; */
	overflow: hidden;
}

.profile-header {
	background-color: var(--color-blue);
	display: flex;
	flex-direction: row;
	padding: 1.5rem;
	border-radius: 10px;
	border: 1px solid rgb(123, 176, 123);
}

.profile-header__name {
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.profile-header__name span {
	font-weight: 200;
	font-size: 1rem;
}

.profile-selector {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 1.2rem 2.8rem;
}
