/* Boilerplate CSS Styles */

/* rubik-300 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/rubik-v28-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* rubik-regular - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/rubik-v28-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* rubik-500 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/rubik-v28-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
	--color-blue: hsl(246, 80%, 60%);
	--color-light-red: hsl(15, 100%, 70%);
	--color-soft-blue: hsl(195, 74%, 62%);
	--color-light-red: hsl(348, 100%, 68%);
	--color-lime-green: hsl(145, 58%, 55%);
	--color-violet: hsl(264, 64%, 52%);
	--color-soft-orange: hsl(43, 84%, 65%);
	--color-very-dark-blue: hsl(226, 43%, 10%);
	--color-dark-blue: hsl(235, 46%, 20%);
	--color-desaturated-blue: hsl(235, 45%, 61%);
	--color-pale-blue: hsl(236, 100%, 87%);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
	line-height: 1.125;
	font-weight: 400;
	margin: 0;
}

p {
	margin: 0;
}
img {
	display: block;
}

a {
	text-decoration: none;
}

body {
	font-family: 'Rubik', sans-serif;
	font-size: 15px;
	line-height: 1.5;
	color: var(--color-very-dark-blue);
	background-color: var(--color-very-dark-blue);
}

.main__container {
	border: 1px solid white;
	display: grid;
	grid-template-rows: 1fr;
	grid-gap: 1.5rem;
	padding: 1.5rem;
}

.states__container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: 1.5rem;
}

/* Profile card */
.profile_card {
	/* border: 1px solid white; */
	padding-bottom: 10px;
	position: relative;
}

.profile-header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
	background-color: var(--color-blue);
	display: flex;
	flex-direction: row;
	padding: 1.5rem;
	border-radius: 10px;
	/* border: 1px solid rgb(123, 176, 123); */
}

.profile-header__img {
	max-width: 75px;
	border-radius: 50%;
	margin-right: 1rem;
	border: 2px solid white;
	max-height: 75px;
}

.profile-header__name {
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: white;
}
.profile-header__name span {
	font-weight: 200;
	font-size: 1rem;
}

.profile-selector {
	position: absolute;
	top: 110px;
	left: 0;
	width: 100%;
	z-index: 0;
	background-color: var(--color-dark-blue);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 30px 30px 20px 30px;
	border-radius: 10px;
}

.profile-selector a {
	color: var(--color-pale-blue);
}

.profile-selector a.active {
	color: white;
}

.profile-selector a:hover,
.profile-selector a:focus {
	color: white;
}
/* Card design */
.wrapper {
	border: 1px solid rgb(248, 14, 14);
	position: relative;
	margin-bottom: 1.5rem;
	overflow: hidden;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	height: 160px; /* Adjust height based on content */
}

.state_card {
	border-radius: 10px 0 0 0;
	padding: 0rem 0.5rem;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.state_card img {
	max-width: 25%;
}

.card {
	color: white;
	background-color: var(--color-dark-blue);
	width: 100%;
	padding: 15px 20px;
	box-sizing: border-box;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto auto;
	grid-gap: 0;
	border-radius: 12px;
	position: absolute;
	top: 40px;
	left: 0;
	height: auto; /* Adjust height based on content */
	z-index: 1;
	align-items: center; /* Center align items vertically */
}

.card_heading {
	grid-column: 1 / span 2; /* Span both columns */
	display: flex;
	justify-content: space-between;
	align-items: center;
	justify-items: center;
	margin: 0;
	padding: 0;
}

.card a {
	color: var(--color-pale-blue);
	font-size: 1.8rem;
	display: flex;
	align-items: center; /* Center align items vertically */
	justify-content: center; /* Center align items horizontally */
}

.card_title {
	font-size: 16px;
}

.curr_state {
	grid-column: 1 / 2; /* Place in the first column */
	font-size: 2rem;
	font-weight: 200;
	margin: 0;
}

.prev_state {
	grid-column: 2 / 3; /* Place in the second column */
	font-size: 0.8rem;
	font-weight: 200;
	margin: 0;
	color: var(--color-pale-blue);
	text-align: right; /* Align text to the right */
}

@media (min-width: 59.375rem) {
	.main__container {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(2, auto);
		grid-gap: 1.5rem;
	}

	.profile_card {
		grid-column: 1 / span 1;
		grid-row: 1 / span 2;
		height: 100%;
	}
}
