/* Boilerplate CSS Styles */

/* rubik-300 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/rubik-v28-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* rubik-regular - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/rubik-v28-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* rubik-500 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/rubik-v28-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
	--color-blue: hsl(246, 80%, 60%);
	--color-light-red: hsl(15, 100%, 70%);
	--color-soft-blue: hsl(195, 74%, 62%);
	--color-light-red: hsl(348, 100%, 68%);
	--color-lime-green: hsl(145, 58%, 55%);
	--color-violet: hsl(264, 64%, 52%);
	--color-soft-orange: hsl(43, 84%, 65%);
	--color-very-dark-blue: hsl(226, 43%, 10%);
	--color-dark-blue: hsl(235, 46%, 20%);
	--color-desaturated-blue: hsl(235, 45%, 61%);
	--color-pale-blue: hsl(236, 100%, 87%);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
	line-height: 1.125;
	font-weight: 400;
	margin: 0;
}

img {
	display: block;
}

a {
	text-decoration: none;
	color: white;
}

body {
	font-family: 'Rubik', sans-serif;
	font-size: 15px;
	line-height: 1.5;
	color: var(--color-very-dark-blue);
	background-color: var(--color-very-dark-blue);
}

.main__container {
	border: 1px solid white;
	display: grid;
	grid-template-rows: 1fr;
	grid-gap: 1.5rem;
	padding: 1.5rem;
}
.card__state {
	border: 1px solid white;
	background-color: var(--color-dark-blue);
	color: white;
	border-radius: 10px;
	/* width: 300px; */
	overflow: hidden;
}

.profile-header {
	background-color: var(--color-blue);
	display: flex;
	flex-direction: row;
	padding: 1.5rem;
	border-radius: 10px;
	border: 1px solid rgb(123, 176, 123);
}

.profile-header__img {
	max-width: 75px;
	border-radius: 50%;
	margin-right: 1rem;
	border: 2px solid white;
	max-height: 75px;
}

.profile-header__name {
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.profile-header__name span {
	font-weight: 200;
	font-size: 1rem;
}

.profile-selector {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 1.2rem 2.8rem;
}

/* Card design */
.wrapper {
	border: 1px solid white;
}

.state_card {
	border-radius: 10px;
	padding: 1.5rem;
	border: 1px solid white;
	position: relative;
}
.card {
	color: white;
	background-color: var(--color-dark-blue);
	position: relative;
}
