/* ### Primary

- Green 200 (lighter): hsl(148, 38%, 91%)
- Green 600 (medium): hsl(169, 82%, 27%)
- Red: hsl(0, 66%, 54%)

### Neutral

- White: hsl(0, 0%, 100%)
- Grey 500 (medium): hsl(186, 15%, 59%)
- Grey 900 (darker): hsl(187, 24%, 22%)

## Typography

### Body Copy

- Font size (labels): 16px

### Font

- Family: [Karla](https://fonts.google.com/specimen/Karla)
- Weights: 400, 700
 */

@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root {
	--color-green-200: oklch(0.9419 0.0222 162.84);
	--color-green-600: oklch(0.5289 0.0967 175.37);
	--color-red: oklch(0.5883 0.192 25.33);
	--color-white: oklch(1 0 0);
	--color-grey-500: oklch(0.6951 0.0317 204.73);
	--color-grey-900: oklch(0.3625 0.0299 206.33);
	font-size: 16px;
	font-family: 'Karla', Arial, Helvetica, sans-serif;
}

body {
	background-color: var(--color-green-200);
}

.main-container {
	border: 1px solid black;
	border-radius: 0.8rem;
	max-width: 30rem;
	background-color: var(--color-white);
	display: grid;
	grid-template-columns: 1fr;
	margin: 0 1rem;
	padding: 1.5rem;
}

.form-header {
	margin: 0;
	padding-bottom: 1rem;
}

.name-container,
.email-container,
.query-container,
.message-container {
	display: grid;
	grid-template-columns: 1fr;
	color: var(--color-grey-900);
	font-size: 0.8rem;
}

input,
textarea {
	margin: 0.8rem 0 1rem 0;
	padding: 0.7rem;
	border-radius: 0.2rem;
	border: 1px solid var(--color-grey-500);
}

.importance-star {
	color: var(--color-green-600);
}

.query-radio-btn {
	margin: 0.8rem 0 1rem 0;
	padding: 0.2rem;
	border-radius: 0.2rem;
	border: 1px solid var(--color-grey-500);
	display: flex;
	flex-direction: row;
	gap: 1rem;
	align-items: center;
	padding: 1rem;
}

.radio-btn {
	margin: 0;
}
textarea {
	resize: none;
}

.submit-container {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(2, 1fr);
	row-gap: 1rem;
}

.consent-box {
	grid-column-start: 1;
	grid-column-end: 1;
}
.consent-text {
	grid-column-start: 2;
	grid-column-end: 6;
	font-size: 0.8rem;
}

.submit-btn {
	grid-column: -6 / span 5;
	background-color: var(--color-green-600);
	outline: none;
	color: var(--color-white);
	border-radius: 0.5rem;
	border: none;
	font-size: 0.8rem;
}

.error-message {
	color: #e74c3c; /* red */
	font-size: 0.9rem;
	display: none; /* JS toggles display */
	margin-left: 6px;
}

.input-error {
	outline: 2px solid rgba(231, 76, 60, 0.15);
	border-color: #e74c3c;
}

.hidden {
	display: none;
}
