@font-face {
	font-family: 'Roboto-Bold';
	font-size: 2.5rem;
	src: url('./assets/fonts/Roboto-Bold.ttf');

	font-weight: bold;
}
@font-face {
	font-family: 'Roboto';
	src: url('./assets/fonts/Roboto-Regular.ttf');
	font-weight: normal;
}

/* Base styling */
:root {
	/* Primary */

	--color-primary-tomato: hsl(4, 100%, 67%);

	/* Neutral */

	--color-neutral-Dark-Slate-Grey: hsl(234, 29%, 20%);
	--color-neutral-Charcoal-Grey: hsl(235, 18%, 26%);
	--color-neutral-Grey: hsl(231, 7%, 60%);
	--color-neutral-White: hsl(0, 0%, 100%);

	font-size: 16px;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* - Family: [Poppins](https://fonts.google.com/specimen/Poppins)
- Weights: 200, 400, 600 */
*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', 'Roboto-Bold', sans-serif;
	font-size: 16px;
	margin: 0;
}

img {
	display: block;
	width: 100%;
}

/* Mobile Styling */

.image__desktop {
	display: none;
}

.wrapper__text {
	border: 1px solid black;
	padding: 1rem;
}
.wrapper__heading {
	font-family: 'Roboto-Bold';
	font-size: 2.5rem;
}

.wrapper__list {
	list-style-image: url(./assets/images/icon-list.svg);
}

.wrapper__list-item {
	text-align: left;
}

/* Desktop Styling */
@media (width >= 59.375rem) {
}
