@font-face {
	font-family: 'Roboto-Bold';
	font-size: 2.5rem;
	src: url('./assets/fonts/Roboto-Bold.ttf');

	font-weight: bold;
}
@font-face {
	font-family: 'Roboto';
	src: url('./assets/fonts/Roboto-Regular.ttf');
	font-weight: normal;
}

/* Base styling */
:root {
	/* Primary */

	--color-primary-tomato: hsl(4, 100%, 67%);

	/* Neutral */

	--color-neutral-Dark-Slate-Grey: hsl(234, 29%, 20%);
	--color-neutral-Charcoal-Grey: hsl(235, 18%, 26%);
	--color-neutral-Grey: hsl(231, 7%, 60%);
	--color-neutral-White: hsl(0, 0%, 100%);
	--color-neutral-Pink: hsl(6, 77.8%, 94.7%);

	font-size: 16px;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* - Family: [Poppins](https://fonts.google.com/specimen/Poppins)
- Weights: 200, 400, 600 */
*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', 'Roboto-Bold', sans-serif;
	font-size: 16px;
	margin: 0;
}

img {
	display: block;
	width: 100%;
}

.hidden {
	display: none !important;
}

/* Mobile Styling */

.image__desktop {
	display: none;
}

.wrapper__text {
	/* border: 1px solid black; */
	padding: 2rem;
}
.wrapper__heading {
	font-family: 'Roboto-Bold';
	font-size: 2.5rem;
}

.wrapper__list {
	list-style: none;
	padding: 1rem 0;
	margin: 0;
}

.wrapper__list-item {
	display: flex;
	align-items: center;
	gap: 1rem;
	margin-bottom: 0.5rem;
	line-height: 1.5rem;
}

.wrapper__list-item::before {
	/* border: 1px solid black; */
	content: '';
	display: inline-block;
	width: 21px;
	height: 21px;
	background-image: url(./assets/images/icon-list.svg);
	background-size: contain;
	background-repeat: no-repeat;
	vertical-align: text-top;
	flex-shrink: 0;
}

.heading-container {
	/* border: 1px solid black; */
	display: flex;
	flex-direction: row;
	gap: 110px;
}

.form-heading {
	font-size: 0.8rem;
	font-family: 'Roboto-Bold', sans-serif;
	color: var(--color-neutral-Dark-Slate-Grey);
}

.email {
	width: 100%;
	padding: 1rem 1rem;
	outline: none;
	border-radius: 7px;
	border: 1px solid var(--color-neutral-Grey);
}

::placeholder {
	color: var(--color-neutral-Grey);
	font-size: 0.8rem;
}

/* Invalid email check */
.error-message {
	color: var(--color-primary-tomato);
	font-size: 0.8rem;
	font-family: 'Roboto-Bold', sans-serif;
	font-size: 0.8rem;
	top: 10px;
}

.input-error {
	border: 2px solid var(--color-primary-tomato);
	background-color: var(--color-neutral-Pink);
}

.form__submit-btn {
	margin-top: 1.5rem;
	padding: 1rem;
	text-align: center;
	width: 100%;
	font-family: 'Roboto-Bold';
	font-size: 1rem;
	background-color: var(--color-neutral-Dark-Slate-Grey);
	color: var(--color-neutral-White);
	outline: none;
	border: none;
	border-radius: 7px;
	cursor: pointer;
}

/* Success Message */

.wrapper__success-card {
	/* border: 1px solid red; */
	margin-top: 5rem;
	padding: 30px;
}

.success__image {
	width: 50px;
	height: 50px;
}

.success-heading {
	font-family: 'Roboto-Bold';
	font-size: 2.5rem;
}

.success__text {
	font-size: 1rem;
	line-height: 25px;
}
.bold-text {
	font-family: 'Roboto-Bold';
}

.success__btn-return {
	margin-top: 1.5rem;
	padding: 1rem;
	text-align: center;
	width: 100%;
	font-family: 'Roboto-Bold';
	font-size: 1rem;
	background-color: var(--color-neutral-Dark-Slate-Grey);
	color: var(--color-neutral-White);
	outline: none;
	border: none;
	border-radius: 7px;
	cursor: pointer;
}

.form__submit-btn:hover,
.success__btn-return:hover {
	background: rgb(255, 73, 109);
	background: linear-gradient(
		117deg,
		rgba(255, 73, 109, 1) 60%,
		rgb(255, 94, 58) 90%
	);
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
		rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

/* Desktop Styling */
@media (width >= 37.5rem) {
	body {
		background-color: var(--color-neutral-Dark-Slate-Grey);
	}
	.wrapper {
		width: 750px;
		height: 500px;
		/* border: 1px solid rgb(231, 12, 12); */
		background-color: var(--color-neutral-White);
		border-radius: 10px;
		display: flex;
		flex-direction: row-reverse;
		margin: 100px auto;
		padding: 15px 20px;
		gap: 15px;
	}

	.image__desktop {
		display: inline-block;
		width: 100%;
		margin: 10px auto;
	}
	.image__mobile {
		display: none;
	}
	.wrapper__text {
		padding: 0 1rem;
	}

	.wrapper__success-card {
		background-color: var(--color-neutral-White);
		margin: 150px auto;
		width: 450px;
		height: 480px;
		border-radius: 15px;
		padding: 40px 50px;
	}
}
