/* Base styling */
*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Montserrat', 'Oswald', serif, sans-serif;
	font-size: 14px;
}

:root {
	--text--1: hsl(0, 0%, 100%);
	--highlight: hsl(75, 94%, 57%);
	--background--1: hsl(0, 0%, 20%);
	--background--2: hsl(0, 0%, 12%);
	--background--3: hsl(0, 0%, 8%);
}

.card {
	border: 1px solid black;
	margin: 300px auto;
	max-width: 60%;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

.card--about {
	max-width: 50%;
	margin: 0 auto;
}

/* image styling */
.profile-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
	width: 20%;
}
