/* Base styling */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	--text--1: hsl(0, 0%, 100%);
	--highlight: hsl(75, 94%, 57%);
	--background--1: hsl(0, 0%, 20%);
	--background--2: hsl(0, 0%, 12%);
	--background--3: hsl(0, 0%, 8%);
}
body {
	margin: 0;
	font-family: 'Inter', 'Arial', serif, sans-serif;
	font-size: 14px;
	background-color: black;
}
a {
	text-decoration: none;
}

li {
	list-style: none;
}

/* base card styling */
.card {
	/* border: 1px solid white; */
	margin: 100px auto;
	max-width: 85%;
	border-radius: 10px;
	background-color: var(--background--2);
	padding: 5px;
}

.card--about {
	max-width: 90%;
	margin: 0 auto;
	/* border: 1px solid white; */
}

/* image styling */
.profile-img {
	/* border: 1px solid white; */
	display: block;
	margin: 20px auto;
	border-radius: 50%;
	width: 40%;
}

/* Title styling */

.card--name {
	text-align: center;
	color: var(--text--1);
	font-weight: 600;
	letter-spacing: 1px;
	margin: 5px;
	font-size: 1.5rem;
}

.card--sub {
	text-align: center;
	color: var(--highlight);
	font-weight: 400;
	margin: 7px;
	letter-spacing: 1px;
	font-size: 0.8rem;
}

.card--sub-2 {
	color: var(--text--1);
	font-size: 0.8rem;
	font-weight: 400;
	text-align: center;
	padding: 5px 0;
}

/* card links */

.card--list {
	padding: 0;
}

.card--item :hover {
	background-color: var(--highlight);
	color: var(--background--3);
}

.card--link {
	display: block;
	text-align: center;
	color: var(--text--1);
	/* border: 1px solid white; */
	margin: 15px auto;
	width: 85%;
	padding: 10px;
	background-color: var(--background--1);
	border-radius: 7px;
	font-weight: 600;
}

@media (min-width: 375px) {
	.card {
		max-width: 350px;
	}
}
