/* Base Styling */

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	--color--1: hsl(0, 0%, 100%);
	--Stone--100: hsl(30, 54%, 90%);
	--Stone--150: hsl(30, 18%, 87%);
	--Stone--600: hsl(30, 10%, 34%);
	--Stone--900: hsl(24, 5%, 18%);
	--Brown--800: hsl(14, 45%, 36%);
	--Rose--800: hsl(332, 51%, 32%);
	--Rose--50: hsl(330, 100%, 98%);
	font-size: 16px;
	font-family: 'Outfit', 'Young-Serif', Arial, Helvetica, sans-serif;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

p {
	font-size: 1rem;
	font-family: 'Outfit', Arial, Helvetica, sans-serif;
}

body {
	background-color: white;
}

.container {
	max-width: 800px;
}

.header__title {
	color: var(--Stone--900);
	font-family: 'Young Serif', Arial, Helvetica, sans-serif;
	font-size: 2.2rem;
	font-weight: 400;
	margin: 20px 0;
}

.header__text {
	font-size: 1rem;
	line-height: 1.5em;
}

.header__img {
	width: 100%;
}

/* Preparation Card Styling */

.card__preparation {
	padding: 0.8em 1em;
	background-color: var(--Rose--50);
	border-radius: 15px;
}

.preparation__title {
	color: var(--Rose--800);
	padding: 0 1em;
	margin: 8px 0 0 0;
}
.preparation__list {
	padding: 1em 2.5em;
	margin: 0;
	font-size: 0.8rem;
}

.preparation__point {
	padding: 0.4em 1.2em;
	color: var(--Stone--600);
	list-style-position: outside;
}

/* Ingredient Card Styling */

.card__title {
	color: var(--Brown--800);
	margin: 20px 0 0 0;
	font-family: 'Young Serif', Arial, Helvetica, sans-serif;
}

.ingredient__list {
	padding: 1em 1.2em;
	margin-top: 0;
}

.ingredient__point {
	padding: 0.4em 1.2em;
	color: var(--Stone--600);
	list-style-position: outside;
	font-size: 0.8rem;
}

/* Instruction Styling */
.card__instructions,
.card__ingredient {
	border-bottom: 1px solid lightgray;
}

.instructions__list {
	list-style-position: outside;
	padding-left: 0;
}

.instructions__list > ol {
	padding-left: 1em;
	color: var(--Stone--600);
}

.instruction__point {
	padding-left: 1em;
	padding-bottom: 0.8em;
	font-size: 0.8rem;
	line-height: 1.25rem;
}

.instruction__point::marker {
	color: var(--Brown--800);
	font-weight: 700;
	font-family: 'Outfit';
}
.nutrition__text {
	color: var(--Stone--600);
	font-size: 0.8rem;
}

table {
	width: 100%;
	line-height: 1.8rem;
	border-collapse: collapse;
}

.nutrition__table--bottom {
	border-bottom: 1px solid lightgrey;
}

td:nth-child(even) {
	color: var(--Brown--800);
	font-weight: 700;
	font-family: 'Outfit';
}

td {
	color: var(--Stone--600);
	padding-left: 1.5em;
	line-height: 2.5rem;
	font-size: 0.8rem;
}
@media (min-width: 725px) {
	body {
		background-color: var(--Stone--100);
	}

	p {
		font-size: 1rem;
		font-family: 'Outfit', Arial, Helvetica, sans-serif;
	}

	/* Article styling */
	.container {
		border: 1px solid black;
		background-color: var(--color--1);
		width: 700px;
		margin: 100px auto;
		border-radius: 20px;
	}

	/* Header Card Styling */

	.container__card {
		max-width: 90%;
		margin: 5% auto;
	}
	.header__img {
		border-radius: 15px;
		max-width: 100%;
		height: auto;
	}
}
